Usage: {{.ImageName}} [options] <command>

Subcommands:
  inspect <id>
	inspect the events of a human interface device
  list
	human interface devices
  remap <file>
	remaps human interface devices to a virtual output device

Flags:
